* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grey {
  color: grey;
}

.App {
  font-family: poppins, sans-serif;
}

.navbar {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo--image {
  max-width: 100px;
  margin-left: 30px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 40px 300px;
}

.hero--image {
  max-width: 100%;
  height: auto;
  align-self: center;
}

section {
  padding: 40px;
}

.section {
  padding: 40px;
}

.main h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 110%;
  margin: 0;
}

.card--experience {
  position: relative;
}
.card--experience span {
  padding: 2px;
}

.card--image {
  width: 100%;
  height: 28vw;
  object-fit: cover;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.card--star {
  height: 14px;
}

.card--experience .card--star {
  padding-right: 3px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 20px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
